# API Configuration
VITE_API_URL=http://localhost:3000

# Walrus Aggregator
VITE_WALRUS_AGGREGATOR_URL=http://localhost:3000/api/walrus

# Proxy Server
VITE_PROXY_URL=http://localhost:3001

ELEVENLABS_API_KEY=
PORT=3001

VITE_PROXY_URL="http://localhost:3001"
VITE_WALLETCONNECT_PROJECT_ID =
